#root {
  --background-color: #edf2fb;
  --component-background-color: #d7e3fc;
  --component-shadow-color: #abc4ff;
  --remove-color: #ffb9cc;
  --remove-shadow-color: #db577d;
  --submit-color: #aef5c6;
  --submit-shadow-color: #50c878;
  --highlight-color: yellow;
  --disabled-color: #ccc;
  --disabled-shadow-color: #666;

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: var(--background-color);
}

#todo-list-header {
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
  background-color: var(--component-background-color);
  border-radius: 100px;
  box-shadow: 5px 5px var(--component-shadow-color);
  padding-inline: 75px;
}

.input {
  width: 40vw;
  padding: 10px;
  background-color: white;
  font-size: 20px;
  border-radius: 100px;
  border: none;
  padding-left: 10px;
  box-shadow: 5px 5px var(--component-shadow-color);
  text-align: center;
  transition: all 0.3s;
}

.input.full {
  background-color: var(--remove-color);
  box-shadow: 5px 5px var(--remove-shadow-color);
}

#submit-task-bar:focus {
  outline: none;
}

.submit-button {
  background-color: var(--component-background-color);
  color: black;
  border: none;
  padding: 5px;
  padding-inline: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 100px;
  box-shadow: 5px 5px var(--component-shadow-color);
  transition: all 0.3s ease;
}

.submit-button.disabled {
  background-color: var(--disabled-color);
  color: var(--disabled-shadow-color);
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: 5px 5px var(--disabled-shadow-color);
}

.submit-button.held {
  transition: all 0.2s;
}

.submit-button.submit:hover {
  background-color: var(--submit-color);
  box-shadow: 5px 5px var(--submit-shadow-color);
}

.submit-button.submit.held {
  background-color: var(--submit-color);
  box-shadow: none;
  translate: 5px 5px;
}

.submit-button.remove:hover {
  background-color: var(--remove-color);
  box-shadow: 5px 5px var(--remove-shadow-color);
}

.submit-button.remove.held {
  background-color: var(--remove-color);
  box-shadow: none;
  translate: 5px 5px;
}

.submit-button.highlight:hover {
  background-color: var(--highlight-color);
}

.submit-button.highlight.held {
  background-color: var(--highlight-color);
  box-shadow: none;
  translate: 5px 5px;
}

.submit-button.task:hover {
  background-color: #ccc;
  box-shadow: 5px 5px var(--disabled-shadow-color);
}

.submit-button.task.held {
  box-shadow: none;
}

.submit-button.remove.task:hover {
  background-color: var(--remove-color);
  box-shadow: 5px 5px var(--remove-shadow-color);
}

.submit-button.remove.task.held {
  box-shadow: none;
}

.tasks-div {
  margin-top: 15px;
  /* background-color: yellow; */
  flex-wrap: wrap;
  overflow-y: scroll;
  width: 50vw;
  max-height: 70vh;
}

#task-list {
  padding: 5px;
  margin-left: 10px;
}

.task-element {
  margin: 10px;
  padding: 20px;
  /* font-size: 120%; */
  background-color: white;
  border-radius: 100px;
  box-shadow: 5px 5px var(--component-shadow-color);
}

.task-text {
  margin-left: 10px;
}

.submit-button.task {
  font-size: 100%;
}

.task-text.crossed {
  text-decoration: line-through;
}

.task-text.highlight {
  background-color: yellow;
}
