#root {
  --background-color: #edf2fb;
  --component-background-color: #d7e3fc;
  --component-shadow-color: #abc4ff;
  --remove-color: #ffb9cc;
  --remove-shadow-color: #db577d;
  --submit-color: #aef5c6;
  --submit-shadow-color: #50c878;
  --highlight-color: rgb(252, 252, 153);
  --highlight-shadow-color: rgb(224, 224, 109);
  --disabled-color: #ccc;
  --disabled-shadow-color: #666;

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: var(--background-color);
}

#todo-list-header {
  font-size: 4vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: center;
  color: black;
  background-color: var(--component-background-color);
  border-radius: 100px;
  box-shadow: 0.3rem 0.3rem var(--component-shadow-color);
}

.input {
  width: 40vw;
  padding: 0.5vw;
  background-color: white;
  font-size: 1.5vw;
  border-radius: 100px;
  border: none;
  box-shadow: 0.3rem 0.3rem var(--component-shadow-color);
  text-align: center;
  transition: all 0.3s;
}

.input.full {
  background-color: var(--remove-color);
  box-shadow: 0.3rem 0.3rem var(--remove-shadow-color);
}

#submit-task-bar:focus {
  outline: none;
}

.submit-button {
  background-color: var(--component-background-color);
  width: 2.25vw;
  font-size: 1.25vw;
  color: black;
  border: none;
  padding: 0.3vw;
  margin-left: 0.75vw;
  cursor: pointer;
  border-radius: 100px;
  box-shadow: 0.3rem 0.3rem var(--component-shadow-color);
  transition: all 0.3s ease;
}

.submit-button.disabled {
  background-color: var(--disabled-color);
  color: var(--disabled-shadow-color);
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: 0.3rem 0.3rem var(--disabled-shadow-color);
}

.submit-button.submit:hover {
  background-color: var(--submit-color);
  box-shadow: 0.3rem 0.3rem var(--submit-shadow-color);
}

.submit-button.submit.held {
  background-color: var(--submit-color);
  box-shadow: none;
  translate: 0.3rem 0.3rem;
}

.submit-button.remove.task-list {
  width: 6.5vw;
  padding-inline: 0px;
}

.submit-button.remove:hover {
  background-color: var(--remove-color);
  box-shadow: 0.3rem 0.3rem var(--remove-shadow-color);
}

.submit-button.remove.held {
  background-color: var(--remove-color);
  box-shadow: none;
  translate: 0.3rem 0.3rem;
}

.submit-button.highlight:hover {
  background-color: var(--highlight-color);
  box-shadow: 0.3rem 0.3rem var(--highlight-shadow-color);
}

.submit-button.highlight.held {
  box-shadow: none;
  translate: 0.3rem 0.3rem;
}

.submit-button.task.held {
  box-shadow: none;
}

.submit-button.remove.task:hover {
  background-color: var(--remove-color);
  box-shadow: 0.3rem 0.3rem var(--remove-shadow-color);
}

.submit-button.remove.task.held {
  box-shadow: none;
}

.tasks-div {
  margin-top: 3vh;
  border-radius: 50px;
  background-color: white;
  width: 50vw;
  height: 70vh;
  max-height: 70vh;
  box-shadow: 0.3rem 0.3rem var(--component-shadow-color);
  overflow: hidden;
}

.scroll-content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  padding-right: 1vw;
}

.scroll-content::-webkit-scrollbar {
  width: 8px;
}

.scroll-content::-webkit-scrollbar-thumb {
  background-color: var(--component-background-color);
  border-radius: 10px;
}

.scroll-content::-webkit-scrollbar-thumb:hover {
  background-color: #d1ddf2;
}

.task-element {
  position: relative;
  margin: 1rem;
  padding: 1.5rem;
  background-color: var(--background-color);
  border-radius: 100px;
  box-shadow: 0.3rem 0.3rem var(--component-shadow-color);
  transition: all 0.3s ease;
}

.empty-tasks {
  align-items: center;
  text-align: center;
  font-size: 3vw;
  padding-left: 1vw;
  padding-top: 9vw;
}

.task-buttons {
  position: absolute;
  bottom: 25%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-text-div {
  width: 75%;
  word-wrap: break-word;
}

.task-text {
  font-size: 1.25vw;
  transition: all 0.3s ease;
}

.submit-button.task {
  font-size: 100%;
}

.task-text.crossed {
  text-decoration: line-through;
  color: var(--disabled-shadow-color);
}

.task-element.crossed {
  background-color: var(--disabled-color);
  box-shadow: 0.3rem 0.3rem var(--disabled-shadow-color);
}

.task-text.highlight {
  background-color: yellow;
}
