#root {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#todo-list-header {
  font-size: 60px;
  margin-top: 10px;
  text-align: center;
}

#submit-task-bar {
  width: 40vw;
  padding: 2.5px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px;
  padding-inline: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.3s ease;
}

#submit-task-button:hover {
  background-color: green;
}

#submit-task-button.held {
  background-color: #728dab;
}

#clear-list-button:hover {
  background-color: rgb(200, 0, 0);
}

#clear-list-button.held {
  background-color: #75818f;
}
